@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form method="post" asp-controller="Accounts" asp-action="Login">
    <hr />
    <div class="form-horizontal col-md-4">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </div>
</form>
