@model UserViewModel
@{
    ViewData["Title"] = "Delete user page";
}
<h4>Delete user</h4>
<input type="hidden" asp-for="Id" />
<div class="mb-3">@Html.DisplayFor(model => model.Email)</div>
<div class="mb-3">@Html.DisplayFor(model => model.Roles)</div>

<form asp-action="Delete" method="post" class="col-md-4">
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
