@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Categories Page";
}
<h4>Categories list</h4>
@if (User.IsInRole("AdvancedUser"))
{
    <p>@Html.ActionLink("Create", "Create", "Categories", null, new { @class = "btn btn-primary" })</p>
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var category in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => category.Name)</td>
            <td>
                @if (User.IsInRole("AdvancedUser"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = category.Id }, new { @class = "btn btn-outline-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = category.Id }, new { @class = "btn btn-outline-danger" })                    
                }
            </td>
        </tr>
    }
</table>